<%- include ("partials/header") %> 
	
	<div class="container-fluid mt-5" id="container1">

		<form action="/blogs/<%=blog._id%>?_method=PUT" method="POST">
		<h1 class="mb-3">Edit Hush - "<%=blog.title%>"</h1>
			<div class="form-group">
			<label>Title</label>
			<input type="text" class="form-control" name="blog[title]" value="<%= blog.title %>">
			</div>
			<div class="form-group">
			<label>Image Url</label>
			<input type="text" class="form-control" name="blog[image]" value="<%= blog.image %>">
			</div>
			<div class="form-group">
			<label>Your Story</label>
			<textarea name="blog[body]" class="form-control"><%= blog.body %></textarea>
			</div>
			<button type="submit" class="btn btn-dark">Submit</button>
		</form>
	</div>

<%- include ("partials/footer") %> 
	